$h1-font-size: 80pt;
$h2-font-size: 60pt;
$white-color: var(--white-color);
$black-color: var(--black-color);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }


  
  body {
    font-family: 'Nanum Gothic', sans-serif;
    overflow-anchor: none;
   
  
    a {
      text-decoration: none;
      font-style: normal;
      color: inherit; 
    }
  
    ul, li {
      list-style: none; 
    }



h1 {
  font-size: $h1-font-size;
  font-family: 'Zen Loop', cursive;
  font-weight: normal; 
  color: white;
  
} 

h2 {
  font-size: $h2-font-size;
  font-family: 'Zen Loop', cursive;
  text-align: center;
  color: white;
  font-weight: normal;
  
}

p {
  font-size: 14pt;
  color: var(--white-color);
}

.logo {
  width: 100pt;
}

.logo-footer {
  width: 38pt; 
}   

.hidden-title {
  display: none;
}

}   

 

   @media screen and (min-width: 728px) {
    body {
      margin: 0 30px;
    }
   }   